{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>
{% block title %}
  Contact Pages
{% endblock %}
</title>
{% block head %}
    {% include 'base/head.html' %}
{% endblock %}
</head>
<body>
{% block navbar %}
    {% include 'base/navbar.html' %}
{% endblock %}
{% block content %}

{% endblock %}
{% block modal %}

{% endblock %}
{% block footer %}
    {% include 'base/footer.html' %}
{% endblock %}
{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>
